

.appContent {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.starHolder {
  text-align: center;
  min-width: 26px;
}


.favoriteEmoji {
  font-size: 13px;
}

.list {
  margin-block-start: 0;
  list-style-type: none;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@import './contactDetailPage.less';
@import './contactListItem.less';
@import './header.less';
@import './listHeader.less';
@import './spinner.less';